################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Calibration/v15
/x64/Debug/Calibration.tlog/Calibration.lastbuildstate
/Debug
/x64/Debug

Build/*